<div class="row"> 
  <h3 class="card">{{article.title}}</h3>
  <h5 class="card-panel articleBody">{{body}}</h5>
  
</div>


<div class="row">
    <form class="navbar-form navbar-left" action="/api/notes/{{article.id}}" method="POST">
        <div class="form-group">
            <label for="apptNotes">Notes</label>
            <textarea class="form-control" rows="3" id="apptNotes" name="body" placeholder="Notes"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Save</button>
    </form>
</div>

{{!-- comments go here --}}
<div class="row">
  <div class="col s2"></div>
    <div class="col s8">
      <h5>Comments:</h5>
        {{#if article.notes}}
          {{#each article.notes}}
            <div class="card">
              {{!-- <p id="nameComment">{{name}}</p> --}}
              <p>{{body}}<p>
               <form class="navbar-form navbar-right" method="POST" action="/api/notes/delete/{{_id}}">
                <button type="submit" class="btn btn-default">Delete Note</button>
              </form>
            </div>
          {{/each}}
          {{else}}
          <p>No Comments Yet.</p>
        {{/if}}
    </div>
</div>